* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
  input[type="submit"]:focus:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

/* ==========================================================================
   Site
   ========================================================================== */
* {
  font-family: Verdana, Geneva, sans-serif; }

h1, h2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

/* ==========================================================================
   Header
   ========================================================================== */
header.navigation {
  background-color: #5d76d0;
  border-bottom: 1px solid #3856c2;
  height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .menu-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: .8em 0; }
    @media screen and (max-width: 500px) {
      header.navigation .logo {
        display: none; } }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: block;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    header.navigation .nav {
      float: right; } }
  header.navigation ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d;
    display: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li {
    background: #5d76d0;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li {
        background: transparent;
        display: inline;
        line-height: 60px;
        padding-right: 2em;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li a {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7); }
      header.navigation ul li a:hover {
        color: white; }
  @media screen and (min-width: 53.75em) {
    header.navigation .sign-up {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0;
      left: 0;
      padding-right: 1em; }
      header.navigation .sign-up a {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        background: #5d76d0;
        border-radius: 0.1875em;
        color: white;
        font-size: .8em;
        font-weight: 800;
        padding: .6em 1em;
        text-transform: uppercase; }
        header.navigation .sign-up a:hover {
          background: #8597db; } }
  header.navigation li.navigation-search-bar {
    display: none; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.navigation-search-bar {
        position: absolute;
        top: 0px;
        right: 76px;
        bottom: 0;
        left: 0;
        display: inline-block;
        line-height: 0 !important;
        padding: 13px 30px; } }
  header.navigation .search-bar {
    width: 19em;
    position: relative;
    display: inline-block; }
    header.navigation .search-bar input {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block; }
    header.navigation .search-bar .search-and-submit {
      position: relative; }
      header.navigation .search-bar .search-and-submit input[type=search] {
        background: #7187d6;
        border: 1px solid #4965ca;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: rgba(255, 255, 255, 0.7);
        border-radius: 0.375em;
        margin: 0; }
      header.navigation .search-bar .search-and-submit button[type=submit] {
        border: 1px solid #5874da;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #d6dcf0;
        color: #333333;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #98a8e1;
        background-image: -webkit-linear-gradient(#98a8e1, #647fdd);
        background-image: linear-gradient(#98a8e1, #647fdd);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #a3b2eb;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: 0;
        outline: none;
        padding: 5px 15px; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #b0bbe3;
          cursor: pointer;
          background-color: #8899d8;
          background-image: -webkit-linear-gradient(#8899d8, #5975d9);
          background-image: linear-gradient(#8899d8, #5975d9); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #5874da;
          box-shadow: inset 0 0 8px 4px #4d6bd5, inset 0 0 8px 4px #4d6bd5; }
        header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        header.navigation .search-bar .search-and-submit button[type=submit] img {
          height: 12px;
          opacity: .7; }

/* ==========================================================================
   Main
   ========================================================================== */
section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section:after {
    content: "";
    display: table;
    clear: both; }
  section.padding1 {
    padding: 1em; }
  section.padding2 {
    padding: .2em; }

/* ==========================================================================
   Main: Tabs
   ========================================================================== */
.vertical-tabs-container {
  border-radius: 0.1875em;
  border: 1px solid none;
  margin-bottom: 1.5em;
  overflow: hidden; }
  .vertical-tabs-container:after {
    content: "";
    display: table;
    clear: both; }
  .vertical-tabs-container .vertical-tabs {
    display: none;
    text-align: center;
    margin: 3em 0; }
    @media screen and (min-width: 40em) {
      .vertical-tabs-container .vertical-tabs {
        background-color: none;
        display: inline;
        float: right;
        width: 20%; } }
  @media screen and (min-width: 40em) {
    .vertical-tabs-container .vertical-tab {
      border-bottom: 1px solid none;
      display: block;
      font-weight: bold;
      margin-right: -1px;
      padding: 0.75em 0.809em; }
      .vertical-tabs-container .vertical-tab.is-active {
        background-color: #e7ebf8;
        margin-right: -1px; } }
  .vertical-tabs-container .vertical-tab:focus {
    outline: none; }
  .vertical-tabs-container .vertical-tab-content-container {
    display: block;
    margin: 0 auto; }
    .vertical-tabs-container .vertical-tab-content-container a:focus {
      outline: none; }
    @media screen and (min-width: 40em) {
      .vertical-tabs-container .vertical-tab-content-container {
        display: inline-block;
        height: 18.75em;
        width: 80%;
        background-color: none; } }
  .vertical-tabs-container .vertical-tab-content {
    background-color: none;
    padding: 1.5em 1.618em; }
    @media screen and (min-width: 40em) {
      .vertical-tabs-container .vertical-tab-content {
        border: none;
        display: none; } }
  .vertical-tabs-container .vertical-tab-accordion-heading {
    background-color: none;
    border-top: 1px solid none;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 0.75em 0.809em; }
    .vertical-tabs-container .vertical-tab-accordion-heading:hover {
      color: #5d76d0; }
    .vertical-tabs-container .vertical-tab-accordion-heading:first-child {
      border-top: none; }
    .vertical-tabs-container .vertical-tab-accordion-heading.is-active {
      background: #e7ebf8;
      border-bottom: none; }
    @media screen and (min-width: 40em) {
      .vertical-tabs-container .vertical-tab-accordion-heading {
        display: none; } }

/* ==========================================================================
   Main
   ========================================================================== */
main h2 {
  padding: .2em 0;
  color: #5d76d0; }
main article:nth-child(1) header {
  zbackground-image: url("/images/A1.jpg");
  background-image: url("/images/B1.jpg");
  background-position: left;
  background-repeat: no-repeat; }
  @media screen and (max-width: 500px) {
    main article:nth-child(1) header {
      background-image: none; } }
main article:nth-child(2) header {
  zbackground-image: url("/images/A2.jpg");
  background-image: url("/images/B2.jpg");
  background-position: left;
  background-repeat: no-repeat; }
  @media screen and (max-width: 500px) {
    main article:nth-child(2) header {
      background-image: none; } }
main article:nth-child(3) header {
  zbackground-image: url("/images/A3.jpg");
  background-image: url("/images/B3.jpg");
  background-position: left;
  background-repeat: no-repeat; }
  @media screen and (max-width: 500px) {
    main article:nth-child(3) header {
      background-image: none; } }
main article:nth-child(4) header {
  zbackground-image: url("/images/A4.jpg");
  background-image: url("/images/B4.jpg");
  background-position: left;
  background-repeat: no-repeat; }
  @media screen and (max-width: 500px) {
    main article:nth-child(4) header {
      background-image: none; } }

/* ==========================================================================
   Article 
   ========================================================================== */
/* ==========================================================================
   Article: Card Flip
   ========================================================================== */
article {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 20em;
  position: relative; }
  article:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 500px) {
    article {
      height: 31em; } }
  article:hover header {
    z-index: 1;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  article:hover .body {
    z-index: 2;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  article header, article .body {
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px; }
  article header {
    z-index: 2;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
    @media screen and (max-width: 500px) {
      article header {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center; } }
    article header h1 {
      font-size: 4em;
      margin-right: .5em;
      color: #5d76d0;
      font-style: italic; }
      @media screen and (max-width: 500px) {
        article header h1 {
          font-size: 2.2em;
          padding: 1em;
          margin-right: 0; } }
  article .body {
    z-index: 1;
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    @media screen and (max-width: 500px) {
      article .body {
        padding: 1em; } }
    article .body figure {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      article .body figure:last-child {
        margin-right: 0; }
      @media screen and (max-width: 500px) {
        article .body figure {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: -2.35765%;
          display: none; }
          article .body figure:last-child {
            margin-right: 0; } }
    article .body .text {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      article .body .text:last-child {
        margin-right: 0; }
      @media screen and (max-width: 500px) {
        article .body .text {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          article .body .text:last-child {
            margin-right: 0; } }

/* ==========================================================================
   About page
   ========================================================================== */
.aboutSection h1 {
  margin-bottom: 1rem; }
.aboutSection figure {
  width: 30%;
  float: left;
  margin: 0 1em; }

/* ==========================================================================
   buttons
   ========================================================================== */
.button {
  border: 1px solid #54618c;
  border-color: #54618c #404a82 #2f3579;
  border-radius: 16px;
  box-shadow: inset 0 1px 0 0 #7a8fd7;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  background-color: #5d76d0;
  background-image: -webkit-linear-gradient(#5d76d0, #2735d3);
  background-image: linear-gradient(#5d76d0, #2735d3);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #485399;
  background-clip: padding-box; }
  .button:hover:not(:disabled) {
    border: 1px solid #3c4d86;
    border-color: #3c4d86 #26337d #161e74;
    box-shadow: inset 0 1px 0 0 #6a81d2;
    cursor: pointer;
    background-color: #4b67cb;
    background-image: -webkit-linear-gradient(#4b67cb, #3640a8);
    background-image: linear-gradient(#4b67cb, #3640a8);
    text-shadow: 0 -1px 1px #2f3c8e;
    background-clip: padding-box; }
  .button:active:not(:disabled), .button:focus:not(:disabled) {
    background: #4757b3;
    border: 1px solid #232c71;
    border-bottom: 1px solid #1c1f73;
    box-shadow: inset 0 0 6px 3px #293096;
    text-shadow: 0 -1px 1px #374289; }
  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }
  .button:hover {
    color: white;
    border-top-color: #4965ca;
    background: #516ccd; }
  .button:active {
    border-top-color: #4965ca;
    background: #516ccd; }

.paddingTopButton {
  padding: .75rem 0; }

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: .6em; }
  footer:after {
    content: "";
    display: table;
    clear: both; }

/*# sourceMappingURL=sassMain01.css.map */
